* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.container {
  width: 1000px;
  margin: 0 auto; }
  .container header {
    border-top: 24px solid #00b7ee;
    width: 100%;
    text-align: center; }
    .container header .logo_box {
      width: 122px;
      height: 64px;
      overflow: hidden;
      margin-left: 73px;
      margin-top: 38px; }
      .container header .logo_box img {
        width: 100%; }
    .container header .search_box {
      margin-right: 76px;
      margin-top: 69px;
      width: 214px;
      height: 28px;
      border: 1px solid #000;
      line-height: 28px;
      font-size: 0; }
      .container header .search_box form {
        width: 100%;
        height: 100%; }
        .container header .search_box form input:first-child {
          width: 174px;
          height: 100%;
          border: none;
          vertical-align: middle;
          outline: none;
          padding: 0 3px;
          box-sizing: border-box;
          font-size: 18px; }
        .container header .search_box form input:last-child {
          vertical-align: middle;
          margin-left: 7px; }
    .container header nav {
      display: inline-block;
      margin-top: 77px;
      margin-bottom: 25px; }
      .container header nav ul li {
        margin: 0 9px; }
        .container header nav ul li a {
          font-size: 14px;
          color: #000;
          transition: 0.5s; }
          .container header nav ul li a:hover {
            color: #00b7ee; }
  .container .kv {
    width: 1000px;
    overflow: hidden; }
    .container .kv img {
      width: 100%;
      display: block; }
  .container footer {
    border-top: 1px solid #eaedf0;
    font-size: 13px; }
    .container footer .footer_up {
      padding: 30px 5%;
      box-sizing: border-box; }
      .container footer .footer_up h3 {
        font-size: 15px;
        margin-bottom: 25px; }
      .container footer .footer_up .footer_col1, .container footer .footer_up .footer_col2, .container footer .footer_up .footer_col3, .container footer .footer_up .footer_col4, .container footer .footer_up .footer_col5 {
        height: 100px; }
        .container footer .footer_up .footer_col1 a, .container footer .footer_up .footer_col2 a, .container footer .footer_up .footer_col3 a, .container footer .footer_up .footer_col4 a, .container footer .footer_up .footer_col5 a {
          transition: 0.5s; }
          .container footer .footer_up .footer_col1 a:hover, .container footer .footer_up .footer_col2 a:hover, .container footer .footer_up .footer_col3 a:hover, .container footer .footer_up .footer_col4 a:hover, .container footer .footer_up .footer_col5 a:hover {
            color: #00b7ee;
            cursor: pointer; }
      .container footer .footer_up .footer_col1, .container footer .footer_up .footer_col2, .container footer .footer_up .footer_col3 {
        width: 15%; }
      .container footer .footer_up .footer_col4 {
        width: 13%; }
      .container footer .footer_up .footer_col5 {
        width: 42%; }
        .container footer .footer_up .footer_col5 .footer_icon {
          width: 50px; }
        .container footer .footer_up .footer_col5 .bottom_align {
          display: inline-block;
          vertical-align: bottom; }
          .container footer .footer_up .footer_col5 .bottom_align span {
            display: inline-block;
            box-sizing: border-box;
            padding-bottom: 5px; }
        .container footer .footer_up .footer_col5 div h3 {
          margin-bottom: 0;
          line-height: 15px; }
          .container footer .footer_up .footer_col5 div h3 span {
            font-size: 18px; }
        .container footer .footer_up .footer_col5 div .contact {
          font-size: 10px;
          font-weight: bold;
          line-height: 13px; }
        .container footer .footer_up .footer_col5 div .complaint {
          position: absolute;
          right: 0; }
        .container footer .footer_up .footer_col5 .mg-r {
          margin-right: 8px; }
    .container footer .footer_down {
      background-color: #00b7ee;
      height: 72px;
      width: 100%; }
      .container footer .footer_down p {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-top: 45px; }

.container fieldset {
  width: 200px;
  margin: 0 auto 10px;
  font-size: 20px;
  border: 1px solid #00b7ee;
  padding-bottom: 10px;
  text-align: center; }
  .container fieldset legend {
    padding: 0 5px; }
.container .about {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 5%;
  background-color: #fafafa;
  text-align: center; }
  .container .about div {
    margin: 20px 1% 25px;
    padding: 20px;
    box-sizing: border-box;
    width: 36%;
    background-color: #f2f2f2;
    height: 320px; }
    .container .about div img {
      width: 125px;
      margin-bottom: 20px; }
    .container .about div p {
      text-align: justify;
      font-size: 13px;
      color: #838383; }
  .container .about div:first-of-type {
    margin: 20px 1% 25px 0;
    width: 30%; }
  .container .about div:last-of-type {
    margin: 20px 0 25px 1%;
    width: 30%; }
.container .case .title {
  background-color: #fafafa; }
.container .case .case_frame {
  padding: 20px 5%;
  box-sizing: border-box;
  width: 100%; }
  .container .case .case_frame .case_box {
    width: 32.6%;
    height: 310px; }
    .container .case .case_frame .case_box div {
      width: 100%;
      height: 190px;
      overflow: hidden;
      border: 1px solid black;
      background: url("../img/project_qr.jpeg");
      background-size: 40%, 40%, auto;
      background-repeat: no-repeat;
      background-position: center; }
      .container .case .case_frame .case_box div:hover > img {
        transform: translateY(-220px); }
      .container .case .case_frame .case_box div img {
        width: 100%;
        transition: 1s; }
    .container .case .case_frame .case_box .case_title {
      font-size: 15px;
      text-align: center;
      margin: 15px 0 20px; }
    .container .case .case_frame .case_box button {
      width: 134px;
      height: 27px;
      background-color: #00b7ee;
      display: block;
      margin: 0 auto;
      border: 1px solid #00b7ee;
      color: white;
      font-size: 16px;
      transition: 0.5s; }
      .container .case .case_frame .case_box button:hover {
        background-color: white;
        color: #00b7ee; }
  .container .case .case_frame .case_box:nth-last-of-type(3n+2) {
    margin: 0 1.1%; }
.container .link {
  padding: 30px 5%;
  box-sizing: border-box; }
  .container .link #carousel {
    width: 100%;
    height: 300px;
    background-image: url("../img/link_bg.png"), radial-gradient(grey, grey);
    background-blend-mode: multiply;
    background-size: cover;
    box-sizing: border-box;
    position: relative; }
    .container .link #carousel fieldset {
      color: white;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%); }
    .container .link #carousel .c_frame {
      margin: 0 auto;
      width: 720px;
      height: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: none;
      overflow: hidden; }
      .container .link #carousel .c_frame .c_bar {
        width: 720px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      .container .link #carousel .c_frame .carousel_img {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 220px;
        height: 70px;
        margin: 0 10px;
        overflow: hidden;
        transition: 0.5s ease-in-out; }
        .container .link #carousel .c_frame .carousel_img img {
          width: 230px; }
    .container .link #carousel #ctl-l, .container .link #carousel #ctl-r {
      position: absolute;
      width: 35px;
      height: 70px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      line-height: 70px;
      font-size: 36px;
      top: 50%;
      transform: translateY(-50%); }
    .container .link #carousel #ctl-l {
      left: 5px; }
      .container .link #carousel #ctl-l span {
        position: absolute;
        left: -8px; }
    .container .link #carousel #ctl-r {
      right: 5px; }
      .container .link #carousel #ctl-r span {
        position: absolute;
        left: 8px; }

/*# sourceMappingURL=index.css.map */
