@charset "utf-8";

$index_color:#00b7ee;
$font_color:#000;
$inner_fr_w:5%;
$text_size:13px;

.container {
    width: 1000px;
    margin: 0 auto;

    header {
        border-top: 24px solid $index_color;
        width: 100%;
        text-align: center;

        .logo_box {
            width: 122px;
            height: 64px;
            overflow: hidden;
            margin-left: 73px;
            margin-top: 38px;

            img {
                width: 100%;
            }
        }

        .search_box {
            margin-right: 76px;
            margin-top: 69px;
            width: 214px;
            height: 28px;
            border: 1px solid $font_color;
            line-height: 28px;
            font-size: 0;

            form {
                width: 100%;
                height: 100%;

                input:first-child {
                    width: 174px;
                    height: 100%;
                    border: none;
                    vertical-align: middle;
                    outline:none;
                    padding:0 3px;
                    box-sizing: border-box;
                    font-size:18px;
                }

                input:last-child {
                    vertical-align: middle;
                    margin-left: 7px;
                }

            }

        }
        nav{
            display:inline-block;
            margin-top:77px;
            margin-bottom: 25px;
            ul{
                li{
                    margin: 0 9px;
                    a{
                        font-size:14px;
                        color:$font_color;
                        // transition:0.5s;
                        &:hover{
                            color:$index_color;
                            transition: 0.5s;
                        }

                    }
                }
            }
        }
    }


    .kv{
        width:1000px;
        // height:400px;
        overflow:hidden;
        img{
            width:100%;
            display: block;
        }
    }


    footer{
        border-top:1px solid #eaedf0;
        
        font-size:$text_size;
        .footer_up{
            padding:30px $inner_fr_w;
            box-sizing: border-box;
            // position: relative;
            h3{
                font-size: 15px;
                margin-bottom: 25px;
            }

            .footer_col1, .footer_col2, .footer_col3, .footer_col4,.footer_col5{
                height:100px;
                
                a{
                    transition: 0.5s;
                    &:hover{
                        color:$index_color;
                        cursor: pointer;
                    }
                }
        
            }
            
            .footer_col1, .footer_col2, .footer_col3{
                width:15%
            }
            .footer_col4{
                width:13%
            }

            .footer_col5{
                width:42%;

                .footer_icon{
                    width:50px;
                }

                .bottom_align{
                    display: inline-block;
                    vertical-align: bottom;

                    
                    span{
                        display: inline-block;
                        box-sizing: border-box;
                        padding-bottom: 5px;
                    }
                }
                div{
                    
                    h3{
                        margin-bottom: 0;
                        line-height: 15px;
                        span{
                            font-size:18px;
                        }
                        
                    }

                    .contact{
                        font-size:10px;
                        font-weight: bold;
                        line-height: 13px;
                    }
                    
                    .complaint{
                        position: absolute;
                        right: 0;
                    }
                }
                
                
                .mg-r{
                    margin-right: 8px;
                }


            }
            
        }

        .footer_down{
            background-color: $index_color;
            height:72px;
            width:100%;
            p{
                width:100%;
                display: inline-block;
                text-align: center;
                margin-top:45px;
            }
        }
    }
}